:root{
--selection-color:red;
--logo-color:#2196F3;
--logo-footer-color:#FFFFFF;
--plug-color:#2F303A;
--background-first:#FFFFFF;
--background-second:#F5F4FA;
--background-header:#FFFFFF;
--primary-text-color:#212121;
--secondary-text-color:#757575;
--portfolio-background:#FFFFFF;
--button-background:#2196F3;
--button-background-second:#F5F4FA;
--button-background-hover:red;
--primary-white-color:#FFFFFF;
--third-text-color:#FFFFFF;
--border-color:#ECECEC;
--logo-part-color:#000000;
--footer-background:#2F303A;
--card-background-color:#FFFFFF;
--card-border-color:#EEEEEE;
--contacts-footer-background:rgba(255, 255, 255, 0.6);
}

body {
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: var(--primary-text-color);
background-color: var(--primary-white-color);
}

.header{

}

.hero{
background: var(--plug-color);
border-top:1px solid var(--border-color);
}

.logo{
text-decoration:none;
list-style:none;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height:1.2;
/* identical to box height */
letter-spacing: 0.03em;
color:var(--logo-color);
}
.logo-part{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height:1.2;
color: var(--logo-part-color); 
}

.logo:hover{
color:var(--selection-color);
} 
.logo:focus{
color:var(--selection-color);
outline:1px solid var(--selection-color);
} 
.current{
color:var(--selection-color);
}
.pages{
list-style:none;
}
.page-link{
text-decoration:none;
}
.page:nth-child(1){
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}
.page-link:hover{
color:var(--selection-color);
}
.page-link:focus{
color:var(--selection-color);
outline:1px solid var(--selection-color);
}

.page:nth-child(2){
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}


.page:nth-child(3){
font-family: 'Roboto';
font-style: normal;
text-decoration:none;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}

.contacts{
list-style:none;
}
.contact-link{
text-decoration:none;
}
.contact:nth-child(1){
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}
.contact-link:hover{
color:var(--selection-color);
}
.contact-link:focus{
color:var(--selection-color);	
outline:1px solid var(--selection-color);
}
.contact:nth-child(2){
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

.hero-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
background-color:var(--plug-color);
color: var(--third-text-color);
}

.button{
cursor:pointer;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color:var(--third-text-color);
background: var(--button-background);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color:var(--selection-color);
border:0px;
}
.button:focus{
background:var(--selection-color);
}

.principles{
background: var(--background-first);

}
.principles-list{
list-style:none;
}

.portfolio{
background:var(--portfolio-background);
border-top:1px solid var(--border-color);
}
.cards{
list-style:none;
}

.visually-hidden{
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

.principles-item{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
color: var(--primary-text-color);
text-transform: uppercase;
}
.principles-item:nth-child(1){
}

.principles-item:nth-child(2){
}

.principles-item:nth-child(3){

}

.principles-item:nth-child(4){

}

.principles-item.principles-content:nth-child(1){

}
.principles-content{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
text-transform: none;
}
.principles-item.principles-content:nth-child(2){

}

.principles-item.principles-content:nth-child(3){

}

.principles-item.principles-content:nth-child(4){

}
.services{

background: var(--background-first);
}
.services-title{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.services-images{
list-style:none;
}

.services-image:nth-child(1){
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}
.services-image:nth-child(2){
background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.services-image:nth-child(3){
background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);	
}

.team{
background:var(--background-second);
}

.team-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.team-list{
list-style:none;
}
.team-item:nth-child(1){
background: url(4853.jpg);
border-radius: 0px;
}
.team-card:nth-child(1){
background:var(--card-background-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-name:nth-child(1){
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.team-name:nth-child(2){
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.team-name:nth-child(3){
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.team-name:nth-child(4){
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}


.team-profession:nth-child(1){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.team-profession:nth-child(2){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.team-profession:nth-child(3){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.team-profession:nth-child(4){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.team-item:nth-child(2){
background: url(5844.jpg);
border-radius: 0px;
}
.team-card:nth-child(2){
background: var(--card-background-color);
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-item:nth-child(3){
background: url(16166.jpg);
border-radius: 0px;
}
.team-card:nth-child(3){
background: var(--card-background-color);
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-item:nth-child(4){
background: url(2968.jpg);
border-radius: 0px;
}
.team-card:nth-child(4){
background: var(--card-background-color);
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}


.filter-buttons{
list-style:none;

}
.filter-button:nth-child(1){
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: var(--button-background-second);
border:0px;
}
.filter-item:nth-child(1){
cursor:pointer;
background: var(--button-background-second);
/* shadow-middle */
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
border:0px;
}
.filter-button:nth-child(2){
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: var(--button-background-second);
border:0px;
}
.filter-item:nth-child(2){
cursor:pointer;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: var(--button-background-second);
border:0px;
}
.filter-button:nth-child(3){
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: var(--button-background-second);
border:0px;
}
.filter-item:nth-child(3){
cursor:pointer;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: var(--button-background-second);
border:0px;
}
.filter-button:nth-child(4){
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: var(--button-background-second);
border:0px;
}
.filter-item:nth-child(4){
cursor:pointer;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: var(--button-background-second);
border:0px;
}
.filter-button:nth-child(5){
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: var(--button-background-second);
border:0px;
}
.filter-item:nth-child(5){
cursor:pointer;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: var(--button-background-second);
border:0px;
}
.filter-item:hover{
color:var(--third-text-color);
background:var(--button-background);	
}
.filter-button:focus{
color:var(--third-text-color);	
background:var(--selection-color);	
}
.filter-button:hover{
color:var(--third-text-color);
background:var(--button-background);	
}
.cards{
list-style:none;
}

.cards>.cards-item:nth-child(1){
background: url(portfolio1.jpg);
}

.cards>.cards-item:nth-child(2){
background: url(portfolio2.jpg);
}

.cards>.cards-item:nth-child(3){
background: url(portfolio-1.jpg);
}

.cards-poster:nth-child(1){
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.cards-poster:nth-child(2){
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.cards-poster:nth-child(3){
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}


.cards-title:nth-child(1){
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.cards-text:nth-child(1){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.cards-title:nth-child(2){
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.cards-text:nth-child(2){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.cards-title:nth-child(3){
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.cards-text:nth-child(3){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.cards-title:nth-child(4){
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.cards-text:nth-child(4){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.cards-title:nth-child(5){
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.cards-text:nth-child(5){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.cards-title:nth-child(6){
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.cards-text:nth-child(6){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.cards-title:nth-child(7){
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.cards-text:nth-child(7){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.cards-title:nth-child(8){
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.cards-text:nth-child(8){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.cards-title:nth-child(9){
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.cards-text:nth-child(9){
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.cards>.cards-item:nth-child(4){
background: url(portfolio-2.jpg);
}

.cards>.cards-item:nth-child(5){
background: url(portfolio5.jpg);
}

.cards>.cards-item:nth-child(6){
background: url(111.jpg);
}

.cards-poster:nth-child(4){
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.cards-poster:nth-child(5){
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.cards-poster:nth-child(6){
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}

.cards>.cards-item:nth-child(7){
background: url(portfolio7.jpg);
}

.cards>.cards-item:nth-child(8){
background: url(portfolio8.jpg);
}

.cards>.cards-item:nth-child(9){
background: url(2910404.jpg);
}

.cards-poster:nth-child(7){
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.cards-poster:nth-child(8){
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.cards-poster:nth-child(9){
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}

.footer{
background: var(--footer-background);
}

.logo-same{
text-decoration:none;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */
letter-spacing: 0.03em;
color:var(--logo-footer-color);
}
.logo-same:hover{
color:var(--selection-color);
}
.logo-same:focus{
color:var(--selection-color);
outline:1px solid var(--selection-color);
}

.logo-same-part{
font-family: 'Raleway' ;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--logo-color);
}
.address-link:nth-child(1){
font-family: 'Roboto';
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing:0.03em;
text-decoration:none;
color: var(--third-text-color);
}

.address-list{
list-style:none;
}
.address-selection{
text-decoration:none;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
font-style:normal;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: var(--contacts-footer-background);
}
.address-link:hover{
color:var(--selection-color);
}
.address-link:focus{
color:var(--selection-color);	
outline:1px solid var(--selection-color);
}
.address-selection:hover{
color:var(--selection-color);
}
.address-selection:focus{
color:var(--selection-color);	
outline:1px solid var(--selection-color);
}
.address-link:nth-child(2){

}

.address-link:nth-child(3){

}
.footer-portfolio{

background: var(--footer-background);
}


